<html>
  <head>
    <link rel="stylesheet" href="../css/base.css">
  </head>
  <body>
    <h1>The Complaining Commuter</h1>
    <img src="../img/subway.gif" width="350" height="350">
    <br><br>
    <hr>
    <h3>Complaints List</h3>
    {{{body}}}
    <hr>
    <br>
    <a href="/">Home</a>
    <span> || </span>
    <a href="/complain">Add Your Complaint!</a>
    <span> || </span>
    <a href="/stats">Stats</a>
  </body>
</html>
