<html>
  <head>
    <link rel="stylesheet" href="../css/base.css">
    <title>Add a Movie</title>
  </head>
  <body>
    <h1>Add a Movie</h1>
    <h3>Movie Info:</h3>
    {{{body}}}
  </body>
</html>
