<form method="POST" action="">
  <input type="text" name="title" value="" placeholder="title"> by <input type="text" name="director" value="" placeholder="director"> (<input type="text" name="year" value="" placeholder="year">)
  <input type="submit" name="" value="Add">
</form>
