<table>
  <tr>
    <td class="header">Title</td>
    <td class="header">Year</td>
    <td class="header">Director</td>
  </tr>
  {{#each obj}}
  <tr>
      <td>{{title}}</td>
      <td>{{year}}</td>
      <td>{{director}}</td>
  </tr>
  {{/each}}
</table>
