<html>
  <head>
    <link rel="stylesheet" href="../css/base.css">
    <title>Let's Watch Some Movies</title>
  </head>
  <body>
    <h1>Let's Watch Some Movies</h1>
    {{{body}}}
    <br>
    <a href="/movies/add">Add a Movie</a>
  </body>
</html>
