
<p><span class="temp">85</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>sunny</span></p>
<br><br>
<p class="clothing">Might we recommend: <img src="images/sunglasses.png" width="45" height="45"> <img src="images/fashion.png" width="45" height="45"> <img src="images/black.png" width="45" height="45"> <img src="images/summer.png" width="45" height="45"></p>
<br><br><br><br><br><br><br>
<div class="center"><a href="#"><img src="images/temp.png" width="35" height="35"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><img src="images/web.png" width="35" height="35"></a>
