<br><br><br><br><br>
<h1>Good Morning, Alice</h1>
<br><br><br><br>
<div class="center">
  <a href="today"><img src="images/temp.png" width="45" height="45"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="clothing"><img src="images/hanger.png" width="45" height="45"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="location"><img src="images/map-location.png" width="45" height="45"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="saved"><img src="images/paper.png" width="45" height="45"></a>
</div>
<!-- <p>Today's weather is: <span class="weather">sunny</span></p> -->
<br>
<!-- <p class="clothing">Might we recommend: <img src="images/sunglasses.png" width="35" height="35"> <img src="images/fashion.png" width="35" height="35"> <img src="images/black.png" width="35" height="35"> <img src="images/summer.png" width="35" height="35"></p> -->
