<html>
  <head>
    <meta charset = "utf-8">
    <title>What's the Weather?</title>
    <!-- bootstrap CSS -->
    <link href="../css/bootstrap-css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="images/sun.png">

    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../pe-icon-7-weather/css/pe-icon-7-weather.css">
    <link rel="stylesheet" href="../pe-icon-7-weather/css/helper.css">
    <link rel="stylesheet" href="http://anijs.github.io/lib/anicollection/anicollection.css">

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <!-- implement anijs -->
        <a class="navbar-brand" href="/" data-anijs="if: mouseover, do: tada animated">What's the Weather?</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="today">Today</a></li>
          <li><a href="location">Location</a></li>
          <li><a href="saved">Saved</a></li>
          <li><a href="settings">Settings</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
    <br><br>
    {{{body}}}
    <script src="../js/jquery-1.12.3.min.js"></script>
    <script src="../js/bootstrap-js/bootstrap.min.js"></script>
    <script src="../js/anijs-min.js"></script>

  </body>
</html>
